@{
    ViewBag.Title = "Home Page";
}
@section scripts{
    <script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/VectorGraphics2d.js"></script>
}

<br />
<button id="drawLine">Draw a simple line</button>
<button id="drawLinePoints">Draw the points for the line</button>
<button id="drawCurve">Draw a simple Curve</button>
<button id="drawCurvePoints">Draw the points for the Curve</button>
<button id="drawTriangle">Draw a Triangle</button>
<button id="drawSnowflake">Draw a Koch Snowflake</button>
<button id="drawAnimatedSnowflake">Draw an Animated Koch Snoflake</button>
<br />
<canvas id="drawSurface" height="750" width="750"></canvas>


